@media only screen and (min-width: 1200px) and (min-height: 776px) {
  *{
    color: white;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fredoka';
  }

  nav{
    background-color: #373737;
    width: 100%;
  }

  nav::after{
    content: '';
    clear: both;
    display: table;
  }

  nav ul{
    float: left;
    list-style: none;
    margin-right: 40px;
    position: relative;
    cursor: default;
  }

  nav ul.icons{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
  }

  nav ul li a.logo {
    font-family: 'LogoFont';
    
  }

  nav ul.icons li{
    float: right;
    display: inline-block;
    margin: 0 5px;
  }

  nav ul.icons li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 10px;
    font-family: 'Icofont';
  }

  nav ul li{
    float: left;
    display: inline-block;
    margin: 0 5px;
  }

  nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
  }

  nav ul ul {
    position: absolute;
    top:90px;
    background-color: #373737;
    font-size: 18px;
    visibility: hidden;
    transition: top .3s;
    width: 180%;
    transform: translateX(-50%);
  }

  nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 70px;
  }

  nav ul ul li{
    font-family: 'Fredoka';
    border-bottom: 2px solid #646464;
    position: relative;
    margin : 0px;
    width: 100%;
    display: list-item;
    text-align: center;
  }
  
  nav ul ul li a {
      font-family: 'Fredoka';
      transform: translateX(100%);
      padding: 0px;
      text-align: center;
  }
}

//font-family: 'LogoFont';
//font-family: 'Icofont';