<nav>
  <ul>
    <li><a routerLink="/" class="logo">Framy</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

  <ul class="icons">
    <li>
      <a></a>
      <ul *ngIf="accountInstance == null">
        <li><a routerLink="/login">Sign In</a></li>
        <li><a routerLink="/register">Sign Up</a></li> 
      </ul>
      <ul *ngIf="accountInstance != null">
        <li><a>{{accountInstance.username}}</a></li>
        <li><a (click)="signOut()">Sign out</a></li>
      </ul>
    </li>
    <li>
      <a></a>
    </li>
  </ul>
</nav>
