@media only screen and (min-width: 1200px) and (min-height: 776px) {
.header{
    display: flex;
    background-color: #373737;
    padding: 10px;
    width: 100%;
    max-height: 80px;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;
      align-items: center;
      padding: .1em 0;
    }
  
    li a{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif, 'Icofont';
      color: white;
      font-size: 2rem;
      padding-right: 1em;
      position: relative;
    }

    li:nth-child(1){
      padding-right: 10rem;
      padding-left:5rem;
      color:#8FDD6E;
    }

    li:nth-child(5){
      position: absolute;
      right: 0%;
      padding-right: 3em;
    }

    .logo{
      font-family: 'LogoFont';
      color: white;
      font-size: 2rem;
      align-content: center;
      text-align: center;
    }

    li:nth-child(4){
      position: absolute;
      right: 70px;
      padding-right: 3em;
    }
  }

  .icon{
    font-family: 'Icofont';
    color: white;
    font-size: 2rem;
    padding-right: .3em;
  }
}