<div class="content">
  <div class="content__container">
    <p class="content__container__text" style="color: #373737;">
      Framy for
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item red">   planning project!</li>
      <li class="content__container__list__item blue">  keeping  track!</li>
      <li class="content__container__list__item yellow">organize things!</li>
      <li class="content__container__list__item green"> designing models!</li>
    </ul>
  </div>
</div>

<button id="start-project-btn">Let's start!</button>

<ul>
  <ul>
    <li *ngFor="let account of accounts" style="color: black;">
      {{ account.username }}
    </li>
   </ul>
</ul>