@media only screen and (min-width: 1200px) and (min-height: 776px) {
    div.container-div{

        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 4px rgba(68,68,68,0.1);
        position: absolute;
        width: 375px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flexbox;
        justify-content: center;
        
        section{
            position: relative;
            width: 100%;
            text-align: center;
            font-family: 'LogoFont';
            font-size: 40px;
            color: #373737;
        }

        form{
            margin: 40px;
            position: relative;
            max-width: 100%;
            display: flexbox;
            justify-content: center;
            

            section{
                border-top: solid 2px rgba(68,68,68,0.1);
                font-family: 'Fredoka';
                font-size: 18px;
                padding: 5px;
                margin-bottom: 20px;
                margin-top: 20px;
                color: rgba(68,68,68,0.5);
            }
    
            div.input-container{
                display: flex;
                position: relative;
                justify-content: center;
                width: 100%;  

                i{
                    width: 25px;
                    padding: 10px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background-color:  #4FB4F4;
                    font-size: 15px;
                    font-family: 'IcoFont';
                    font-style: normal;
                    color: white;
                    justify-content: center;
                    margin-bottom: 20px;
                }

                i.green{
                    background-color: #8FDD6E;
                }

                i.blue{
                    background-color:  #4FB4F4;
                }

                input{
                    border: none;
                    position: relative;
                    font-family: 'Fredoka';
                    font-size: 15px;
                    padding: 10px;
                    box-shadow: inset 0px 0px 2px 2px rgba(68,68,68,0.6);
                    margin-bottom: 20px;
                }

                input:focus{
                    outline-color: #4FB4F4;
                }

                button{
                    width: 60%;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    
                    padding-right: 50px;
                    font-size: 15px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                button.button-blue{
                    background-color: #4FB4F4;
                }

                button.button-green{
                    background-color: #8FDD6E;
                }

            }

        }

        

    }
}