@media only screen and (min-width: 1200px) and (min-height: 776px) {

    div.spinner-container{
        position: absolute;
        backdrop-filter: blur(10px);
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        div.spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            border: 2px solid var(--color-primary);
            border-radius: 50%;
            border-top: 5px solid var(--dark-shade);
            border-right: 5px solid var(--color-primary);
            border-bottom: 5px solid var(--color-light);
            border-left: 5px solid var(--color-accent);
            width: 40px;
            height: 40px;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
            transform: translate(-20px,-20px);
          }
          @-webkit-keyframes spin {
            0% {
              -webkit-transform: rotate(0deg);
            }
            100% {
              -webkit-transform: rotate(360deg);
            }
          }
          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
    }

    div.container-div{

        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 4px rgba(68,68,68,0.1);
        position: absolute;
        width: 375px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flexbox;
        justify-content: center;
        
        section{
            position: relative;
            width: 100%;
            text-align: center;
            font-family: 'LogoFont';
            font-size: 40px;
            color: #373737;
        }

        form{
            margin: 40px;
            position: relative;
            max-width: 100%;
            display: flexbox;
            justify-content: center;
            

            section{
                border-top: solid 2px rgba(68,68,68,0.1);
                font-family: 'Fredoka';
                font-size: 18px;
                padding: 5px;
                margin-bottom: 20px;
                margin-top: 20px;
                color: rgba(68,68,68,0.5);
            }
    
            div.input-container{
                display: flex;
                position: relative;
                justify-content: center;
                width: 100%;  

                i{
                    width: 25px;
                    padding: 10px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background-color:  var(--color-primary);
                    font-size: 15px;
                    font-family: 'IcoFont';
                    font-style: normal;
                    color: white;
                    justify-content: center;
                    margin-bottom: 20px;
                }

                i.green{
                    background-color: var(--dark-shade);
                }

                i.blue{
                    background-color:  var(--color-primary);
                }

                input{
                    border: none;
                    position: relative;
                    font-family: 'Fredoka';
                    font-size: 15px;
                    padding: 10px;
                    box-shadow: inset 0px 0px 2px 2px rgba(68,68,68,0.6);
                    margin-bottom: 20px;
                }

                input:focus{
                    outline-color: var(--color-primary);
                }

                button{
                    width: 60%;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    
                    padding-right: 50px;
                    font-size: 15px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                button.button-blue{
                    background-color: var(--color-primary);
                }

                button.button-green{
                    background-color: var(--dark-shade);
                }

            }

        }

        

    }
}