<div class="container-div">

    <section>Framy</section>

    <form>
        <div class="input-container">
            <i></i>
            <input type="text" placeholder="Username"/>
        </div>
        <div class="input-container">
            <i></i>
            <input type="password" placeholder="Password"/><br>
        </div>

        <div class="input-container">
            <i class="green"></i>
            <button type="submit" class="button button-green">Sign In</button>
        </div>

        <section class="register">OR</section>

        <div class="input-container">
            <i class="blue"></i>
            <button type="submit" routerLink="/register" class="button button-blue">Sign up</button>
        </div>
    
    </form>

    
</div>