@media only screen and (min-width: 1200px) and (min-height: 776px) {
    div.contentdiv{
        position: relative;
        width: 30%;
        height: 100vh;
        border-right: solid 1px rgba(55,55,55,.2);
    }
}