@media only screen and (min-width: 1200px) and (min-height: 776px) {
    div.sidebarcontainer{
        display: flex;
        div.contentdiv{
            position: relative;
            width: 25%;
            height: 100vh;
            border-right: solid 1px rgba(55,55,55,.2);

            div.title{
                position: relative;
                padding-top: 40px;
                width: 100%;
                text-align: center;
                font-family: 'LogoFont';
                font-size: 29px;
            }

            div.menupoints{
                position: relative;
                width: fit-content;
                display: flex;
                justify-content: center;
                left: 50%;
                transform: translateX(-50%);
            }

            .active{
                color: #F44848;
            }

            div.menupoints.bottom_icons{
                top: 50%;
                transform: translate(-50%,-120%);
            }

            div.menupoints ul{
                list-style: none;
                font-size: 21px;
                margin: 0%;
                padding: 0%;
                text-align: left;
                padding-top: 25px;
            }

            div.menupoints ul li{
                padding-top: 15px;
            }

            // The icons of the menupoints.
            div.menupoints ul li i{
                padding-right: 10px;
                font-family: 'IcoFont';
                font-style: normal;
                
            }

            // The menupoints's text
            div.menupoints ul li a {
                font-family: 'Fredoka';
            }

            // Important news section

            div.important-news{
                position: relative;
                width: 80%;
                left: 50%;
                background-color: #4FB4F4;
                display: flexbox;
                border-radius: 40px;
                padding: 10px;
                top: 50%;
                transform: translateY(-100%) translateX(-50%);
                bottom: 0%;
                box-shadow: 0px 0px 3px 3px rgba(55,55,55,.2);
            }
                
            div.important-news div.news-title{
                position: relative;
                text-align: center;
                font-family: 'Fredoka';
                padding: 10px;
                color: white;
            }

            div.important-news img.img{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
            }

            div.important-news button.next{
                position: relative;
                left: 50%;
                transform: translateX(-50%);   
                margin-top: 20px;
                padding: 10px;  
                background-color: #373737;
                font-family: 'Fredoka';
                color: white;
                border:none;
                border-radius: 15px;
                bottom: 0%;
            }

            div.important-news button.next:focus{
                outline: none;
            }
        }

        div.pagecontent{
            position:relative;
            width: 75%;
            height: 100vh;
        }
    }
}