<div class="sidebarcontainer">
<div class="contentdiv">
    <div class="title">Dashboard</div>
    <div class="menupoints">
        <ul>
            <li [ngClass]="{'active': currentPage == 0}" (click)="onChangePage(0)" >
                <i></i>
                <a>My Projects</a>
            </li>
            <li>
                <i></i>
                <a>Groups</a>
            </li>
        </ul>
    </div>

    <div class="important-news">
        <div class="news-title">New version out!</div>
        <img class="img" src="assets/images/party_popper.svg"><br>
        <button class="next">What's new?</button>
    </div>

    <div class="bottom_icons menupoints">
        <ul>
            <li>
                <i></i>
                <a>Settings</a>
            </li>
            <li>
                <i></i>
                <a>Help</a>
            </li>
        </ul>
    </div>
</div>

<div class="pagecontent">
    <app-my-projects></app-my-projects>
</div>

</div>