<div class="container-div">

    <section>Framy</section>

    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <div class="input-container">
            <i></i>
            <input ngModel name="username" type="text" placeholder="Username"/>
        </div>

        <div class="input-container">
            <i></i>
            <input ngModel name="email" type="email" placeholder="Email@ddress"/><br>
        </div>

        <div class="input-container">
            <i></i>
            <input ngModel name="password1" type="password" placeholder="Password"/><br>
        </div>

        <div class="input-container">
            <i></i>
            <input ngModel name="password2" type="password" placeholder="Password (2x)"/><br>
        </div>

        <div class="input-container">
            <i class="blue"></i>
            <button type="submit" class="button button-blue">Sign up</button>
        </div>


        <section class="register">OR</section>


        <div class="input-container">
            <i class="blue"></i>
            <button type="submit" routerLink="/login" class="button button-blue">Sign In</button>
        </div>
    
    </form>


</div>

<div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
</div>