@media only screen and (min-width: 1200px) and (min-height: 776px) {
    div.container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .center{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    img.no-projects-img{
        width: 80%;
    }

    section{
        font-family: 'Fredoka';
        text-align: center;
    }
}